.leads-list-filter-bar {
  padding: 1rem;
  background-color: #fff;
  border: 1px solid var(--mat-sys-outline-variant);
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.search-form-field {
  grid-column: -1 / 1;
}
