<form class="request-filter-bar" [formGroup]="form">
  <mat-form-field subscriptSizing="dynamic">
    <mat-label i18n="@@requestFilterStatusLabel">Status</mat-label>
    <mat-select formControlName="status" multiple>
      @for (option of statusOptions; track option.value) {
        <mat-option [value]="option.value">{{ option.label }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field subscriptSizing="dynamic">
    <mat-label i18n="@@requestFilterManagerLabel">Manager</mat-label>
    <mat-select formControlName="managerId">
      <mat-option i18n="@@requestFilterAllManagersOption" value="">All managers</mat-option>
      @for (option of managerOptions(); track option.id) {
        <mat-option [value]="option.id">{{ option.name }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field subscriptSizing="dynamic">
    <mat-label i18n="@@requestFilterDepartureRangeLabel">Departure date range</mat-label>
    <mat-date-range-input [rangePicker]="picker">
      <input
        formControlName="departDateFrom"
        matStartDate
        placeholder="From"
        i18n-placeholder="@@requestFilterDateFromPlaceholder"
      />
      <input
        formControlName="departDateTo"
        matEndDate
        placeholder="To"
        i18n-placeholder="@@requestFilterDateToPlaceholder"
      />
    </mat-date-range-input>
    <mat-datepicker-toggle matIconSuffix [for]="picker" />
    <mat-date-range-picker #picker />
  </mat-form-field>
</form>
