@use '@angular/material' as mat;

.client-filter-bar__form {
  @include mat.form-field-density(-4);

  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1rem;

  @include mat.form-field-overrides(
    (
      state-layer-color: #ffffff,
      outlined-outline-color: var(--mat-sys-primary),
      container-text-size: 0.875rem,
      outlined-caret-color: var(--mat-sys-primary),
    )
  );

  > * {
    width: 100%;
  }
}
