:host {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.invoice-link {
  color: #0e7490;
  font-weight: 600;
  text-decoration: none;
}

.invoice-link:hover {
  text-decoration: underline;
}
