.table-row {
  cursor: pointer;
}

.table-row:hover {
  background-color: rgb(249 250 251);
}

.booking-link {
  color: rgb(14 116 144);
  font-weight: 600;
  text-decoration: none;
}

.booking-link:hover {
  text-decoration: underline;
}
