
.cell-primary {
  font-weight: 500;
}

.table-cell-actions {
  text-align: right;
}

.mat-column-actions {
  width: 1%;
  white-space: nowrap;
}

.mat-column-status {
  white-space: nowrap;
}

.table-empty-state {
  margin: 2.5rem;
  text-align: center;
}

.table-empty-state-message {
  margin-bottom: 1rem;
}
