<form class="booking-filter-bar" [formGroup]="form">
  <mat-form-field subscriptSizing="dynamic">
    <mat-label i18n="@@bookingFilterStatusLabel">Status</mat-label>
    <mat-select formControlName="status" multiple>
      @for (option of statusOptions; track option.value) {
        <mat-option [value]="option.value">{{ option.label }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field subscriptSizing="dynamic">
    <mat-label i18n="@@bookingFilterAssignedStaffLabel">Assigned staff</mat-label>
    <mat-select formControlName="assignedBackofficeId">
      <mat-option i18n="@@bookingFilterAllAssignedStaffOption" value="">All staff</mat-option>
      @for (option of staffOptions(); track option.id) {
        <mat-option [value]="option.id">{{ option.name }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field subscriptSizing="dynamic">
    <mat-label i18n="@@bookingFilterDepartureRangeLabel">Departure date range</mat-label>
    <mat-date-range-input [rangePicker]="picker">
      <input
        formControlName="departDateFrom"
        matStartDate
        placeholder="From"
        i18n-placeholder="@@bookingFilterDateFromPlaceholder"
      />
      <input
        formControlName="departDateTo"
        matEndDate
        placeholder="To"
        i18n-placeholder="@@bookingFilterDateToPlaceholder"
      />
    </mat-date-range-input>
    <mat-datepicker-toggle matIconSuffix [for]="picker" />
    <mat-date-range-picker #picker />
  </mat-form-field>
</form>
