<div class="title-and-type">
  @if (showBackButton()) {
    <button
      aria-label="Вернуться на предыдущую страницу"
      matIconButton
      type="button"
      (click)="goBack()"
    >
      <mat-icon>arrow_back</mat-icon>
    </button>
  }

  <div class="title-and-type__content">
    @if (title(); as title) {
      <h1 class="page-heading-title">{{ title }}</h1>
    }

    @if (subtitle(); as subtitle) {
      <p class="page-heading-subtitle">{{ subtitle }}</p>
    }
  </div>
</div>

<div class="actions">
  <ng-content></ng-content>
</div>

@if (isMobile() && actions().length) {
  <div class="bottom-toolbar">
    @for (action of actions(); track action) {
      <button
        class="bottom-toolbar__btn"
        matIconButton
        type="button"
        [attr.aria-label]="action.label()"
        [disabled]="action.disabled()"
        [matTooltip]="action.label()"
        (click)="action.el.nativeElement.click()"
      >
        <mat-icon>{{ action.icon() }}</mat-icon>
      </button>
    }
  </div>
}
