<header class="booking-header">
  <div class="booking-header-left">
    <div class="booking-header-title-row">
      <a class="booking-back-link" mat-button routerLink="/app/bookings">
        <mat-icon class="booking-back-icon">arrow_back</mat-icon>
      </a>
      <div>
        <h1 class="booking-title">
          Бронирование {{ booking().number ? '#' + booking().number : '' }}
        </h1>
        <p class="booking-id">ID: {{ booking().id }}</p>
      </div>
      <app-booking-status-chip [status]="booking().status" />
    </div>
  </div>

  <div class="booking-header-actions">
    @if (booking().status === BookingStatus.PENDING_CONFIRMATION) {
      <button
        color="primary"
        mat-flat-button
        type="button"
        [disabled]="actionLoading()"
        (click)="confirmBooking.emit()"
      >
        <span>Подтвердить бронирование</span>
      </button>
      <button
        color="warn"
        mat-stroked-button
        type="button"
        [disabled]="actionLoading()"
        (click)="cancelBooking.emit()"
      >
        <span>Отмена</span>
      </button>
    }
    @if (booking().status === BookingStatus.CONFIRMED) {
      <button
        color="warn"
        mat-stroked-button
        type="button"
        [disabled]="actionLoading()"
        (click)="cancelBooking.emit()"
      >
        <span>Отмена</span>
      </button>
    }
  </div>
</header>
