<app-page-heading
  title="Пользователи"
  [subtitle]="usersSubtitle()"
>
  @if (canInviteMembers()) {
    <button
      appPageAction
      color="primary"
      icon="person_add"
      label="Пригласить пользователя"
      matButton="filled"
      type="button"
      [disabled]="!canInviteUsers()"
      (click)="openInviteDialog()"
    >
      <mat-icon>add</mat-icon>
      <span>Пригласить пользователя</span>
    </button>
  }
</app-page-heading>

<div class="users-list-content">
  @if (error()) {
    <p class="users-list-error">{{ error() }}</p>
  }

  <app-users-table
    [canUpdateMembers]="canUpdateMembers()"
    [currentUserId]="currentUserId()"
    [loading]="loading()"
    [roleOptions]="roleOptions()"
    [roleUpdateErrors]="roleUpdateErrors()"
    [togglingActiveId]="togglingActiveId()"
    [updatingRoleId]="updatingRoleId()"
    [users]="users()"
    (deactivateRequest)="openDeactivateDialog($event)"
    (reactivateRequest)="reactivateUser($event)"
    (roleChange)="onRoleChange($event.user, $event.roleValue)"
  />
</div>
