<div class="select-org-page">
  <div class="select-org-content">
    <div class="select-org-header">
      <div class="select-org-icon-wrap">
        <div class="select-org-icon">
          <span class="material-icons select-org-icon-glyph">business</span>
        </div>
      </div>
      <h1 class="select-org-title">Выберите организацию</h1>
      <p class="select-org-description">
        У вас есть доступ к нескольким организациям. Выберите одну, чтобы продолжить.
      </p>
    </div>

    @if (isLoading()) {
      <p class="select-org-loading">
        <span>Загрузка организаций…</span>
      </p>
    } @else if (organizations().length === 0) {
      <p class="select-org-empty">Организации не найдены.</p>
    } @else {
      <ul class="select-org-list" role="list">
        @for (org of organizations(); track org.organizationId) {
          <li>
            <button
              class="select-org-item"
              type="button"
              (click)="select(org)"
            >
              <div class="select-org-item-content">
                <div class="select-org-item-left">
                  <div class="select-org-item-icon">
                    <span class="material-icons select-org-item-icon-glyph">business</span>
                  </div>
                  <span class="select-org-item-name">{{ org.organizationName }}</span>
                </div>
                <div class="select-org-item-right">
                  <span [class]="roleBadgeClass(org)">
                    {{ roleLabel(org) }}
                  </span>
                  <span class="material-icons select-org-item-arrow">arrow_forward_ios</span>
                </div>
              </div>
            </button>
          </li>
        }
      </ul>
    }
  </div>
</div>
